[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.json]
indent_style = space
indent_size = 2
